<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <a href="https://www.baidu.com">点击跳转</a>
    <div>山东蓝翔</div>
    <a href="/get/news">详细信息</a>
    <div>新东方</div>
    <span>山东蓝翔</span>
    <span>新东方</span>
    <br>
    <img style="height: 100px" src="https://img0.baidu.com/it/u=3859460337,943561422&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1720717200&t=a6509f1694583e9e7818b4fc48d2840f" alt="滑稽">
    <a href="https://baike.baidu.com/item/%E6%BB%91%E7%A8%BD/921527?fr=ge_ala" target="_blank">
        <img style="height: 100px" src="/static/img.png" alt="滑稽2">
    </a>
    <br>
    <ul>
        <li>山东蓝翔</li>
        <li>新东方</li>
        <li>中国联通</li>
    </ul>

    <ol>
        <li>山东蓝翔</li>
        <li>新东方</li>
        <li>中国联通</li>
    </ol>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>张三</td>
                <td>13</td>
            </tr>
        </tbody>
    </table>

    <input type="text">
    <br>
    <input type="password">
    <br>
    <input type="file">
    <br>
    <input type="radio" name="n1">男
    <br>
    <input type="radio" name="n1">女
    <br>
    <input type="checkbox">唱
    <br>
    <input type="checkbox">跳
    <br>
    <input type="checkbox">rap
    <br>
    <input type="checkbox">篮球
    <br>
    <input type="button" value="提交">
    <br>
    <input type="submit" value="提交">
    <br>
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
    </select>
    <select multiple>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
    </select>
    <br>
    <textarea rows="3"></textarea>

</body>
</html>